# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [3]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Carmen,MX,18.6333,-91.8333,84.24,70,20,4.61,few clouds
1,1,Rio Gallegos,AR,-51.6226,-69.2181,62.65,34,75,20.71,broken clouds
2,2,Sergach,RU,55.5308,45.4661,36.66,87,100,14.50,overcast clouds
3,3,Bull Savanna,JM,17.8868,-77.5902,80.62,66,31,6.89,scattered clouds
4,4,Puerto Ayora,EC,-0.7393,-90.3518,75.16,78,69,5.99,broken clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [4]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [7]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
# Display sample data
print(preferred_cities_df.shape)
preferred_cities_df.head(10)

(210, 10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Carmen,MX,18.6333,-91.8333,84.24,70,20,4.61,few clouds
3,3,Bull Savanna,JM,17.8868,-77.5902,80.62,66,31,6.89,scattered clouds
4,4,Puerto Ayora,EC,-0.7393,-90.3518,75.16,78,69,5.99,broken clouds
6,6,Ende,ID,-8.8432,121.6623,78.30,88,100,2.80,moderate rain
13,13,Barmer,IN,25.7500,71.3833,75.31,26,0,6.69,clear sky
18,18,Rikitea,PF,-23.1203,-134.9692,75.13,90,65,15.41,broken clouds
26,26,Mamallapuram,IN,12.6264,80.1722,78.85,81,97,11.74,overcast clouds
31,31,Taoudenni,ML,22.6783,-3.9836,81.21,13,99,7.92,overcast clouds
33,33,Kavaratti,IN,10.5669,72.6420,82.35,72,44,3.47,scattered clouds
58,58,Sao Joao Da Barra,BR,-21.6403,-41.0511,77.09,66,5,12.24,clear sky

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [8]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
print(clean_travel_cities.shape)
clean_travel_cities.head()

(210, 10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Carmen,MX,18.6333,-91.8333,84.24,70,20,4.61,few clouds
3,3,Bull Savanna,JM,17.8868,-77.5902,80.62,66,31,6.89,scattered clouds
4,4,Puerto Ayora,EC,-0.7393,-90.3518,75.16,78,69,5.99,broken clouds
6,6,Ende,ID,-8.8432,121.6623,78.30,88,100,2.80,moderate rain
13,13,Barmer,IN,25.7500,71.3833,75.31,26,0,6.69,clear sky

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [9]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.head()

            City Country  Max Temp Current Description      Lat       Lng
0         Carmen      MX     84.24          few clouds  18.6333  -91.8333
3   Bull Savanna      JM     80.62    scattered clouds  17.8868  -77.5902
4   Puerto Ayora      EC     75.16       broken clouds  -0.7393  -90.3518
6           Ende      ID     78.30       moderate rain  -8.8432  121.6623
13        Barmer      IN     75.31           clear sky  25.7500   71.3833

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [10]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Carmen,MX,84.24,few clouds,18.6333,-91.8333,
3,Bull Savanna,JM,80.62,scattered clouds,17.8868,-77.5902,
4,Puerto Ayora,EC,75.16,broken clouds,-0.7393,-90.3518,
6,Ende,ID,78.30,moderate rain,-8.8432,121.6623,
13,Barmer,IN,75.31,clear sky,25.7500,71.3833,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [11]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [12]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [14]:
# Display sample data
print(hotel_df.shape)
hotel_df.head(10)

(210, 7)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Carmen,MX,84.24,few clouds,18.6333,-91.8333,Hotel Lossandes
3,Bull Savanna,JM,80.62,scattered clouds,17.8868,-77.5902,Big Red's
4,Puerto Ayora,EC,75.16,broken clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
6,Ende,ID,78.30,moderate rain,-8.8432,121.6623,Dwi Putra Hotel - Ende
13,Barmer,IN,75.31,clear sky,25.7500,71.3833,OYO 71911 Hotel Amber Palace
18,Rikitea,PF,75.13,broken clouds,-23.1203,-134.9692,People ThankYou
26,Mamallapuram,IN,78.85,overcast clouds,12.6264,80.1722,Radisson Blu Resort Temple Bay Mamallapuram
31,Taoudenni,ML,81.21,overcast clouds,22.6783,-3.9836,
33,Kavaratti,IN,82.35,scattered clouds,10.5669,72.6420,Green leaf
58,Sao Joao Da Barra,BR,77.09,clear sky,-21.6403,-41.0511,Pousada Porto De Canoas

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [17]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df["Hotel Name"] != ""]

# Display sample data
print(clean_hotel_df.shape)
clean_hotel_df.head(10)

(198, 7)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Carmen,MX,84.24,few clouds,18.6333,-91.8333,Hotel Lossandes
3,Bull Savanna,JM,80.62,scattered clouds,17.8868,-77.5902,Big Red's
4,Puerto Ayora,EC,75.16,broken clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
6,Ende,ID,78.30,moderate rain,-8.8432,121.6623,Dwi Putra Hotel - Ende
13,Barmer,IN,75.31,clear sky,25.7500,71.3833,OYO 71911 Hotel Amber Palace
18,Rikitea,PF,75.13,broken clouds,-23.1203,-134.9692,People ThankYou
26,Mamallapuram,IN,78.85,overcast clouds,12.6264,80.1722,Radisson Blu Resort Temple Bay Mamallapuram
33,Kavaratti,IN,82.35,scattered clouds,10.5669,72.6420,Green leaf
58,Sao Joao Da Barra,BR,77.09,clear sky,-21.6403,-41.0511,Pousada Porto De Canoas
63,Butaritari,KI,80.38,overcast clouds,3.0707,172.7902,Isles Sunset Lodge

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [19]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file)

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [21]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [22]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, 
# and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Lossandes</dd>\n<dt>City</dt><dd>Carmen</dd>\n<dt>Country</dt><dd>MX</dd>\n<dt>Current Weather</dt><dd>few clouds and 84.24 °F</dd>\n</dl>\n',
 "\n<dl>\n<dt>Hotel Name</dt><dd>Big Red's</dd>\n<dt>City</dt><dd>Bull Savanna</dd>\n<dt>Country</dt><dd>JM</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 80.62 °F</dd>\n</dl>\n",
 '\n<dl>\n<dt>Hotel Name</dt><dd>Finch Bay Galapagos Hotel</dd>\n<dt>City</dt><dd>Puerto Ayora</dd>\n<dt>Country</dt><dd>EC</dd>\n<dt>Current Weather</dt><dd>broken clouds and 75.16 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Dwi Putra Hotel - Ende</dd>\n<dt>City</dt><dd>Ende</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>moderate rain and 78.3 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>OYO 71911 Hotel Amber Palace</dd>\n<dt>City</dt><dd>Barmer</dd>\n<dt>Country</dt><dd>IN</dd>\n<dt>Current Weather</dt><dd>clear sky and 75.31 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>People ThankYou</dd>\n<dt>City</dt><dd>Rikitea</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>broken clouds and 75.13 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Radisson Blu Resort Temple Bay Mamallapuram</dd>\n<dt>City</dt><dd>Mamallapuram</dd>\n<dt>Country</dt><dd>IN</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 78.85 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Green leaf</dd>\n<dt>City</dt><dd>Kavaratti</dd>\n<dt>Country</dt><dd>IN</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 82.35 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Pousada Porto De Canoas</dd>\n<dt>City</dt><dd>Sao Joao Da Barra</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>clear sky and 77.09 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Isles Sunset Lodge</dd>\n<dt>City</dt><dd>Butaritari</dd>\n<dt>Country</dt><dd>KI</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 80.38 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [23]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
0   18.6333  -91.8333
3   17.8868  -77.5902
4   -0.7393  -90.3518
6   -8.8432  121.6623
13  25.7500   71.3833
18 -23.1203 -134.9692
26  12.6264   80.1722
33  10.5669   72.6420
58 -21.6403  -41.0511
63   3.0707  172.7902

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [26]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))